nav {
  background-color: #26C8DD; /*Se le da el color al nav*/
}

nav ul {
  list-style: none;
  overflow: hidden; 
}
  
nav ul li {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
  
nav  ul{
  display: flex;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.form-login {
  width: 500px;
  background: #ffffff;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: black;
  box-shadow: 7px 10px 30px;
}

.form-login h4{
  font-size: 22px;
  margin-bottom: 20px;
} 

.controls{
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border-left: 1px solid black;
  font-family: 'calibri';
  font-size: 18px;
}

.form-login p{
  height: 40px;
  text-align: center;
  font-size: 18px;
}

.form-login a{
  text-decoration: none;
}

.form-login a:hover{
  text-decoration: underline;
}

.form-login .botons{ /*Botones para el formulario de login*/
  width: 40%;
  background-color: #BFBFBF;
  border: 12px;
  border-radius: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

.botonsT{ /*Botones para tabla de kinesiologo*/
  width: 40%;
  background-color: #BFBFBF;
  border: 12px;
  border-radius: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

.botons{
  width: 15%;
  background-color: #5AC6BF;
  border: 12px;
  border-radius: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

#nav1{
  margin-top: 10px;
  color:#fff;
  display: flex;
}


