{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script type="text/javascript" >src="{% static 'js' %}"</script>
    <script src="https://kit.fontawesome.com/f1d55eea8b.js" crossorigin="anonymous"></script>
    <style type="text/css">
		  body{text-align: center;}
          table, th, td{
            border: 1px solid black;
        }
	  </style>

</head>

<body>
    <header>
        <nav>
            <ul class="barra-ind">
                <li><img src="{% static 'img/logopomo.png' %}" width="160" height="auto" ></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" style="color: white;" class="Cerrar-Sesion">Cerrar Sesión</a></li>    
                <li>
                    <p>Bienvenido {{user.username}}</p>
                </li>
                {% endif %}
                <li><img src="{% static 'img/Logo-Duoc.png' %}" width="160" class="Logo-d"></li>
            </ul>

 
        </nav>
    </header>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} 
                {% endblock %}
            </div>

        </div>

    </div>
    
</body>

<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'Inicio' %}" class="nav-link px-2 text-muted">Inicio</a></li>
        <li class="nav-item"><a href="{% url 'kine' %}" class="nav-link px-2 text-muted">Kine</a></li>
        <li class="nav-item"><a href="{% url 'Crear_Ejercicio' %}" class="nav-link px-2 text-muted">Crear ejercicios</a></li>
        <li class="nav-item"><a href="{% url 'Paciente' %}" class="nav-link px-2 text-muted">Paciente</a></li>

    </ul>
    <p class="text-center text-muted">Telerehabilitacion</p>
    </footer>



</html>