{% extends 'telerehabilitacion/base.html' %}
{% block content %}
<head> <title>Ejercicios</title></head>
    <a class="Volver" href="javascript:history.back()"> Volver Atrás</a>
        <h3> Crear Rutina </h3> 
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">Ingrese cantidad de semanas</label>
                <input type="number" name="cantidad_semanas">
                
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Registrar
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Cree más semanas, ya que si necesita modificar la cantidad de semanas, se eliminarán los ejercicios ya creados.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <input type="submit" class="btn btn-primary" name="btnGuardar" value="Registrar" name="crear_semana">
        </div>
      </div>
    </div>
  </div>
            </form>
        
        </div>
    


        
    {% endblock %}