{% extends 'telerehabilitacion/base.html' %}
{% block content %}
<head> <title>Detalle Semanal</title></head>
    <a class="Volver" href="javascript:history.back()"> Volver Atrás</a>


<br>
<br>
<h4>Paciente: {{pa.nombre}} {{pa.a_paterno}}</h4>
<img src="{{pa.foto.url}}" style="width: 18rem;" class="rounded mx-auto d-block" alt="...">
<br>
<br>

<div class="container border border-info">
    {% for i in lista %}
    <div class="row justify-content-around">
        
        <div class="col col-4  ">                
            Semana {{i}}
        </div>
        <div class="col col-4 ">
            <a class="btn btn btn-outline-secondary btn-sm" href="{% url 'detalle_paciente_semanal' id=i pa=pa.pk %}">Ver Rutina</a>
        </div>
        <br>
      
</div>

{% endfor %}
</div>
<div>
    <a href="{% url 'crear_rutina' id=pk %}"><button class="Crear-E" style="background-color: #77B9C1;" >Modificar Semanas<i class=" fas fa-pencil-alt"></i></button></a>
</div>
    {% endblock %}