{% extends 'telerehabilitacion/base.html' %}
{% block content %}
<head> <title>Detalle Semanal</title></head>

<a class="Volver" href="javascript:history.back()"> Volver Atrás</a>

<br>
<br>
<br>
<br>

    <h5>Semana 1</h5>

<div id="Detalle-Paciente" class="container">
    <div class="row">  
        <div class="col col-lg-4">
            Pinza Dedo con Dedo
        </div>  
        <div class="col col-lg-8">
            <a class="botonsT" href="">Detalles</a>
        </div>
    </div>
    <div class="row">  
        <div class="col col-lg-4">
            Extencion y flexión pulgar
        </div>  
        <div class="col col-lg-8">
            <a class="botonsT" href="">Detalles</a>
        </div>
    </div>
    <div class="row">  
        <div class="col col-lg-4">
            Arañita
        </div>  
        <div class="col col-lg-8">
            <a class="botonsT" href="">Detalles</a>
        </div>
    </div>
    <div class="row">  
        <div class="col col-lg-4">
            Agarre completo balón
        </div>  
        <div class="col col-lg-8">
            <a class="botonsT" href="">Detalles</a>
        </div>
    </div>
    <div class="row">  
        <div class="col col-lg-4">
            Pellizco Plano
        </div>  
        <div class="col col-lg-8">
            <a class="botonsT" href="">Detalles</a>
        </div>
    </div>
    <div class="row">  
        <div class="col col-lg-4">
            Pellizco Chasquido
        </div>  
        <div class="col col-lg-8">
            <a class="botonsT" href="">Detalles</a>
        </div>
    </div>
</div>
    {% endblock %}