{% extends 'telerehabilitacion/base.html' %}
{% block content %}
<head> <title>Kinesiologo</title></head>
    <section >
        <div>
            <table class="col-sm-9 offset-md-1">
                <h5 class="pacientes">PACIENTES RECIENTES </h5>
                <a href="{% url 'crear_paciente' %}"><button class="botons">Crear paciente </button></a>
                    {% for p in pac %}
                    <tr class="columna">
                        <td>{{p.nombre}} {{p.a_paterno}} {{p.a_materno}}</td>
                        <td>{{p.telefono}}</td>
                        <td>{{p.idciudad}}</td>

                        <td><a class="botonsT" href="{% url 'detalle_paciente' pk=p.pk %}">Detalles</a></td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </section>
    <section>
        <section>
            <div>
                <h4>EJERCICIOS</h4>
                <a href="{% url 'Crear_Ejercicio' %}"><button class="Crear-E" style="background-color: #77B9C1;" >Crea tu ejercicio <i class=" fas fa-pencil-alt"></i></button></a>
                <button class="Ver-E">Ver tus ejercicios <i class="fas fa-eye"></i></button>
            </div>
        </section>
    </section>
    {% endblock %}