{% extends 'telerehabilitacion/base.html' %}
{% block content %}
<head><title>Paciente</title></head>
    <div class="titulo-ejer">
        <h5>Ejercicios</h5>
    </div>
    <br>
    <div class="container border border-info">
        {% for i in lista %}
        <div class="row justify-content-around">
            
            <div class="col col-4  ">                
                Semana {{i}}
            </div>
            <div class="col col-4 ">
                <a class="btn btn btn-outline-secondary btn-sm" href="{% url 'detalle_semana' id=i %}">Ver Rutina</a>
            </div>
            <br>
          
    </div>
    {% endfor %}
    </div>
  
    
    <!--
        <div class="col">
            <img class="graficoP" src="img/graficoP.png" alt="grafico" >
        </div>
        <div class="boton-ejer">
            <button class="boton-iniciar-ejer" onclick="location.href= 'inicioejercicios.html'">Iniciar ejercicio de hoy</button>
        </div>
        -->
    {% endblock %}